*{
    font-family: "calabri"

}

.nav{
    height: 50px;
    background-color: black;
    color: rgb(243, 241, 237);
    border-radius: 20px;
    border: 3px solid;
    border-color:orange;
    padding: 5px 
        
    
}

.a1{
    color: orange;
    font-size: 20px;
    
}
.a2{
    color: white;
    margin-left: 200px;
}
.button{
    background-color: orange;
    color:black;
    width: 100px;
    font-size: medium;
}

input{
    width: 300px;
}
.head{
    font-size: larger;
    text-align: center;
    border: 3px solid;
    background-color: orange;
    color: black;
    height: 80px;
    text-align: center;
    padding-top: 1px;
    border-color: black;
}



